 <div class="sidebar">
	<div class="scrollbar sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-home"></i>
					<p>Ana Sayfa</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/" target="_blank">
					<i class="la la-mail-reply"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Statistic/">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Category/">
					<i class="la la-tags"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Product/">
					<i class="la la-shopping-cart"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Booking/">
					<i class="la la-pencil-square"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/MenuTable/">
					<i class="la la-th"></i>
					<p>Masa Durumları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Feature/">
					<i class="la la-indent"></i>
					<p>Öne Çıkanlar (Slider)</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Discount/">
					<i class="la la-level-down"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/About/">
					<i class="la la-newspaper-o"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Testimonial/">
					<i class="la la-quote-right"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/SocialMedia/">
					<i class="la la-heart"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Footer/">
					<i class="la la-sort-desc"></i>
					<p>Footer</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Setting/">
					<i class="la la-gear"></i>
					<p>Profil Ayarları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/Logout/">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>