<div class="sidebar">
	<div class="scrollbar sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-home"></i>
					<p>Ana Sayfa</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Category/">
					<i class="la la-keyboard-o"></i>
					<p>Kategoriler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Product/">
					<i class="la la-keyboard-o"></i>
					<p>Ürünler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Booking/">
					<i class="la la-th"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Statistic/">
					<i class="la la-bell"></i>
					<p>İstatistikler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/About/">
					<i class="la la-bell"></i>
					<p>Hakkımızda</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Discount/">
					<i class="la la-bell"></i>
					<p>İndirimler</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Feature/">
					<i class="la la-bell"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Testimonial/">
					<i class="la la-bell"></i>
					<p>Referanslar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Footer/">
					<i class="la la-bell"></i>
					<p>Footer</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/SocialMedia/">
					<i class="la la-bell"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>Ayarlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>
		</ul>
	</div>
</div>