@model TashanSofrasiWebApp.DTOs.IdentityDTOs.RegisterDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Kayıt Sistemi - Taşhan Sofrası</title>
    <link rel="shortcut icon" href="~/Theme/images/favicon.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/Forms/css/style.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section class="container forms">
        <!-- Signup Form -->
        <div class="form signup">
            <div class="form-content">
                <header><h1>Taşhan Sofrası</h1>Admin Kayıt Sistemi</header>
                <form method="post">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li style="color:red">@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="field input-field">
                        <input type="text" placeholder="Ad" class="input" asp-for="Name" required>
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Soyad" class="input" asp-for="Surname" required>
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Kullanıcı Adı" class="input" asp-for="Username" required>
                    </div>

                    <div class="field input-field">
                        <input type="email" placeholder="E-Posta Adresi" class="input" asp-for="Email" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Parola" class="password" asp-for="Password" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Parolayı tekrar girin" class="password" asp-for="PasswordConfirm" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button>Kayıt Ol</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Hesabınız var mı? <a href="/Login/">Giriş Yap</a></span>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="/Forms/js/script.js"></script>
</body>
</html>
