@model TashanSofrasiWebApp.DTOs.DiscountDTOs.UpdateDiscountDTO

@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" enctype="multipart/form-data">
					<div class="card">
						<div class="card-header">
							<div class="card-title">İndirim Güncellenme</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
                                Bu sayfadan var olan indirimin bilgilerini güncelleyebilirsiniz.
							</div>
							<input type="hidden" asp-for="DiscountID" />
							<div class="form-group">
								<label for="discounttitle">Başlık: </label>
								<input type="text" class="form-control" asp-for="DiscountTitle" id="discounttitle" required>
								<span class="text-danger" asp-validation-for="DiscountTitle"></span>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="discountamount">İndirim Oranı (%): </label>
								<input type="number" class="form-control" asp-for="DiscountAmount" id="discountamount" required>
								<span class="text-danger" asp-validation-for="DiscountAmount"></span>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="discountimageurl">Ürün Görseli: </label>
								<input type="file" class="form-control" asp-for="DiscountImage" id="discountimage" required>
								<span class="text-danger" asp-validation-for="DiscountImage"></span>
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="discountdescription">Ürün Açıklama: </label>
								<textarea rows="5" type="text" class="form-control" asp-for="DiscountDescription" id="discountdescription" required></textarea>
								<span class="text-danger" asp-validation-for="DiscountDescription"></span>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">İndirim Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

