<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="main-header">
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7053/SignalRHub")
                .build();

            // İlk bağlantı durumunu göstermek için
            $("#connstatus").text(connection.state);

            // Bağlantıyı başlat ve durumu kontrol et
            connection.start()
                .then(() => {
                    $("#connstatus").text(connection.state);
                    setInterval(() => {
                        connection.invoke("SendNotification");
                    }, 2000);

                }).catch((err) => {
                    console.error("SignalR bağlantısı başarısız oldu:", err);
                    $("#connstatus").text("Bağlantı Hatası");
                });

            connection.on("ReceiveNotificationCountByStatusFalse", (value1) => {
                $("#notificationcount").text(value1);
            });

            connection.on("ReceiveNotificationListByFalse", (value2) => {
               $("#notificationlist").empty();
                    for (var i = 0; i < value2.length; i++) {
                        // Tarihi dönüştür
                        const originalDate = new Date(value2[i].notificationDate);
                        const day = String(originalDate.getDate()).padStart(2, '0');
                        const month = String(originalDate.getMonth() + 1).padStart(2, '0'); // Aylar 0'dan başlar
                        const year = originalDate.getFullYear();
                        const formattedDate = `${day}-${month}-${year}`; // Gün-Ay-Yıl formatı

                        $("#notificationlist").append(`
                            <a href="#">
                                <div class="${value2[i].notificationType}">
                                    <i class="${value2[i].notificationIcon}"></i>
                                </div>
                                <div class="notif-content">
                                    <span class="block">${value2[i].notificationDescription}</span>
                                    <span class="time">${formattedDate}</span>
                                </div>
                              </a>`);


                    };
                });

                });
    </script>
    <div class="logo-header">
        <a href="#" class="logo">
           Taşhan Sofrası Admin
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">

            <form class="navbar-left navbar-form nav-search mr-md-3" action="">
                <div class="input-group">
                    <input type="text" placeholder="Aranacak kelimeyi girin" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="/Admin/Contact/" role="button" aria-expanded="false">
                        <i class="la la-envelope"></i>
                    </a>
                </li>
                <li class="nav-item dropdown hidden-caret">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-bell"></i>
                        <span class="notification" id="notificationcount">0</span>
                    </a>
                    <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-title">Bildirimler</div>
                        </li>
                        <li>
                            <div class="notif-center">
                                <div id="notificationlist"></div>
                            </div>
                        </li>
                        <li>
                            <a class="see-all" href="/Notification/NotificationRead/" id="markAsReadBtn">
                                <strong>Okundu olarak işaretle</strong> <i class="la la-check-square-o"></i>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</div>
<script>
    document.getElementById('markAsReadBtn').addEventListener('click', function () {
        fetch('/Notification/NotificationRead')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Başarılı bir işlem sonrasında sayfayı yenile
                    location.reload(); // Sayfa yenileme
                }
            });
    });
</script>