@model List<TashanSofrasiWebApp.DTOs.AboutDTOs.ResultAboutDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/PageLayout/Index.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h1>
                HAKKIMIZDA
            </h1>
        </div>
        <p>
            @foreach(var item in Model)
            {
                @item.AboutDescription
            }
        </p>
        @await Component.InvokeAsync("_HomeAboutContactPartialComponent")
    </div>
</section>


