@model TashanSofrasiWebApp.DTOs.AboutDTOs.UpdateAboutDTO
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Hakkımda İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" enctype="multipart/form-data">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Hakkımda Güncellenme</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								Hakkımda kısmını buradan güncelleyebilirsiniz.
							</div>
							<input type="hidden" asp-for="AboutID" />
							<div class="form-group">
								<label for="abouttitle">Hakkımda Başlığı: </label>
								<input type="text" class="form-control" asp-for="AboutTitle" id="abouttitle" required>
								<span class="text-danger" asp-validation-for="AboutTitle"></span>
							</div>
							<div class="form-group">
								<label for="aboutdescription">Hakkımda Açıklaması: </label>
								<textarea type="text" class="form-control" asp-for="AboutDescription" id="aboutdescription" required></textarea>
								<span class="text-danger" asp-validation-for="AboutDescription"></span>
							</div>
							<div class="form-group">
								<label for="aboutimageurl">Hakkımda Görseli: </label>
								<input type="file" class="form-control" asp-for="AboutImage" id="aboutimage" required>
								<span class="text-danger" asp-validation-for="AboutImage"></span>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-primary">Hakkımda Güncelle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


